# Example environment variables for local development.
# Copy this file to `.env` and fill real values. Do NOT commit secrets.

# API Configuration
# EXPO_PUBLIC_API_URL=http://192.168.18.29:3000/api/v1

# IP Geolocation API Key
# Get your API key from: https://ipapi.com/dashboard
EXPO_PUBLIC_IP_API_KEY=YOUR_IP_API_KEY_HERE


# Cloudinary Configuration
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME_HERE


EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID_HERE

